.textGradient {
  font-weight: 900;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #ef4444;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #f59e0b;
  -webkit-background-clip: text;
  color: transparent;
}

.imageSize {
  height: 200px;
  width: 200px;
}

.ratings i {
  color: #f59e0b;
}

.backgroundGradient {
  background: #f00000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ef4444,
    #f59e0b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ef4444,
    #f59e0b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blackBackground {
  background: #1e2136; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1e2136,
    #1e2136,
    #1e2136
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1e2136,
    #1e2136,
    #1e2136
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
